kind: Deployment
apiVersion: apps/v1
metadata:
  name: vsphere-cloud-controller-manager
  namespace: openshift-cloud-controller-manager
  labels:
    k8s-app: vsphere-cloud-controller-manager
    infrastructure.openshift.io/cloud-controller-manager: {{ .cloudproviderName }}
spec:
  replicas: 2
  selector:
    matchLabels:
      k8s-app: vsphere-cloud-controller-manager
      infrastructure.openshift.io/cloud-controller-manager: {{ .cloudproviderName }}
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
      labels:
        k8s-app: vsphere-cloud-controller-manager
        infrastructure.openshift.io/cloud-controller-manager: {{ .cloudproviderName }}
    spec:
      hostNetwork: true
      serviceAccountName: cloud-controller-manager
      priorityClassName: system-cluster-critical
      nodeSelector:
        node-role.kubernetes.io/master: ""
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: "kubernetes.io/hostname"
              labelSelector:
                matchLabels:
                  k8s-app: vsphere-cloud-controller-manager
                  infrastructure.openshift.io/cloud-controller-manager: {{ .cloudproviderName }}
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists
        - effect: NoExecute
          key: node.kubernetes.io/unreachable
          operator: Exists
          tolerationSeconds: 120
        - effect: NoExecute
          key: node.kubernetes.io/not-ready
          operator: Exists
          tolerationSeconds: 120
        - effect: NoSchedule
          key: node.cloudprovider.kubernetes.io/uninitialized
          operator: Exists
        - effect: NoSchedule
          key: node.kubernetes.io/not-ready
          operator: Exists
      containers:
        - name: cloud-controller-manager
          image: {{ .images.CloudControllerManager }}
          imagePullPolicy: "IfNotPresent"
          env:
            - name: CLOUD_CONFIG
              value: /etc/kubernetes-cloud-config/cloud.conf
            - name: OCP_INFRASTRUCTURE_NAME
              value: {{ .infrastructureName }}
            - name: VSPHERE_SECRET_NAMESPACE
              value: {{ .globalCredsSecretNamespace }}
            - name: VSPHERE_SECRET_NAME
              value: {{ .globalCredsSecretName }}
          resources:
            requests:
              cpu: 200m
              memory: 128Mi
          ports:
          - containerPort: 10258
            name: https
            protocol: TCP
          command:
            - /bin/bash
            - -c
            - |
              #!/bin/bash
              set -o allexport
              if [[ -f /etc/kubernetes/apiserver-url.env ]]; then
                source /etc/kubernetes/apiserver-url.env
              fi
              exec /bin/vsphere-cloud-controller-manager \
                --v=3 \
                --cloud-config=$(CLOUD_CONFIG) \
                --cloud-provider=vsphere \
                --controllers=* \
                --configure-cloud-routes=false \
                --bind-address=127.0.0.1 \
                --cluster-name=$(OCP_INFRASTRUCTURE_NAME) \
                --leader-elect=true \
                --leader-elect-lease-duration=15s \
                --leader-elect-renew-deadline=12s \
                --leader-elect-retry-period=3s \
                --leader-elect-resource-namespace=openshift-cloud-controller-manager
          volumeMounts:
            - name: host-etc-kube
              mountPath: /etc/kubernetes
              readOnly: true
            - name: config-vccm
              mountPath: /etc/kubernetes-cloud-config
              readOnly: true
            - name: trusted-ca
              mountPath: /etc/pki/ca-trust/extracted/pem
              readOnly: true
      volumes:
        - name: config-vccm
          configMap:
            name: cloud-conf
            items:
              - key: cloud.conf
                path: cloud.conf
        - name: secret-vccm
          secret:
            secretName: {{ .globalCredsSecretName }}
            optional: true
        - name: trusted-ca
          configMap:
            name: ccm-trusted-ca
            items:
              - key: ca-bundle.crt
                path: tls-ca-bundle.pem
        - name: host-etc-kube
          hostPath:
            path: /etc/kubernetes
            type: Directory
