# IDE
.idea

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Directories with variable content
bin/*
config/*

# golangci-lint cache
.cache/*

# Git
.git
.gitignore
