kind: Deployment
apiVersion: apps/v1
metadata:
  name: azure-cloud-controller-manager
  namespace: openshift-cloud-controller-manager
  labels:
    k8s-app: azure-cloud-controller-manager
    infrastructure.openshift.io/cloud-controller-manager: {{ .cloudproviderName }}
spec:
  replicas: 2
  selector:
    matchLabels:
      k8s-app: azure-cloud-controller-manager
      infrastructure.openshift.io/cloud-controller-manager: {{ .cloudproviderName }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        k8s-app: azure-cloud-controller-manager
        infrastructure.openshift.io/cloud-controller-manager: {{ .cloudproviderName }}
      annotations:
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
    spec:
      hostNetwork: true
      serviceAccountName: cloud-controller-manager
      priorityClassName: system-cluster-critical
      nodeSelector:
        node-role.kubernetes.io/master: ""
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: "kubernetes.io/hostname"
              labelSelector:
                matchLabels:
                  k8s-app: azure-cloud-controller-manager
                  infrastructure.openshift.io/cloud-controller-manager: {{ .cloudproviderName }}
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists
        - effect: NoExecute
          key: node.kubernetes.io/unreachable
          operator: Exists
          tolerationSeconds: 120
        - effect: NoExecute
          key: node.kubernetes.io/not-ready
          operator: Exists
          tolerationSeconds: 120
        - effect: NoSchedule
          key: node.cloudprovider.kubernetes.io/uninitialized
          operator: Exists
        - effect: NoSchedule
          key: node.kubernetes.io/not-ready
          operator: Exists
      initContainers:
        # Merge /etc/kubernetes/cloud.conf (on the host) with secret "azure-cloud-credentials" into "merged-cloud-config" emptydir.
        - name: azure-inject-credentials
          image: {{ .images.CloudControllerManagerOperator }}
          command:
            - /bin/bash
            - -c
            - |
              #!/bin/bash
              if [[ -f /etc/cloud-config/apiserver-url.env ]]; then
                cp /etc/cloud-config/apiserver-url.env /etc/merged-cloud-config/
              fi
              exec /azure-config-credentials-injector \
                --cloud-config-file-path=/etc/cloud-config/cloud.conf \
                --output-file-path=/etc/merged-cloud-config/cloud.conf \
                --disable-identity-extension-auth \
                --enable-azure-workload-identity=true
          env:
            - name: AZURE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: azure-cloud-credentials
                  key: azure_client_id
            - name: AZURE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: azure-cloud-credentials
                  key: azure_client_secret
                  optional: true
            - name: AZURE_TENANT_ID
              valueFrom:
                secretKeyRef:
                  name: azure-cloud-credentials
                  key: azure_tenant_id
                  optional: true
            - name: AZURE_FEDERATED_TOKEN_FILE
              valueFrom:
                secretKeyRef:
                  name: azure-cloud-credentials
                  key: azure_federated_token_file
                  optional: true
          volumeMounts:
            - name: config-accm
              mountPath: /etc/cloud-config
              readOnly: true
            - name: merged-cloud-config
              mountPath: /etc/merged-cloud-config
      containers:
        - name: cloud-controller-manager
          image: {{ .images.CloudControllerManager }}
          imagePullPolicy: "IfNotPresent"
          env:
            - name: CLOUD_CONFIG
              value: /etc/kubernetes-cloud-config/cloud.conf
            - name: OCP_INFRASTRUCTURE_NAME
              value: {{ .infrastructureName }}
          resources:
            requests:
              cpu: 200m
              memory: 50Mi
          ports:
          - containerPort: 10258
            name: https
            protocol: TCP
          command:
            - /bin/bash
            - -c
            - |
              #!/bin/bash
              set -o allexport
              if [[ -f /etc/kubernetes/apiserver-url.env ]]; then
                source /etc/kubernetes/apiserver-url.env
              fi
              exec /bin/azure-cloud-controller-manager \
                --v=3 \
                --cloud-config=$(CLOUD_CONFIG) \
                --cloud-provider=azure \
                --concurrent-service-syncs=10 \
                --controllers=*,-cloud-node \
                --configure-cloud-routes=false \
                --use-service-account-credentials=true \
                --bind-address=127.0.0.1 \
                --cluster-name=$(OCP_INFRASTRUCTURE_NAME) \
                --leader-elect=true \
                --leader-elect-lease-duration=137s \
                --leader-elect-renew-deadline=107s \
                --leader-elect-retry-period=26s \
                --leader-elect-resource-namespace=openshift-cloud-controller-manager
          volumeMounts:
            - name: host-etc-kube
              mountPath: /etc/kubernetes
              readOnly: true
            - name: merged-cloud-config
              mountPath: /etc/kubernetes-cloud-config
              readOnly: true
            - name: trusted-ca
              mountPath: /etc/pki/ca-trust/extracted/pem
              readOnly: true
            - name: bound-sa-token
              mountPath: /var/run/secrets/openshift/serviceaccount
              readOnly: true
      volumes:
        - name: config-accm
          configMap:
            name: cloud-conf
            items:
              - key: cloud.conf
                path: cloud.conf
        - name: trusted-ca
          configMap:
            name: ccm-trusted-ca
            items:
              - key: ca-bundle.crt
                path: tls-ca-bundle.pem
        - name: host-etc-kube
          hostPath:
            path: /etc/kubernetes
            type: Directory
        - name: bound-sa-token
          projected:
            sources:
            - serviceAccountToken:
                path: token
                audience: openshift
        - name: merged-cloud-config
          emptydir:
